body{
	font-family: 'Nunito', sans-serif;
	font-size:16px;
	line-height:1.3;
	word-spacing:3px;
	background-image: url("../images/brickwall1.jpg");
	margin-bottom:40px;
	min-height:100%;

}

html{
	position:relative;
	min-height:100%;

}





a:hover{
	color:#4D95AF;
}


h1{
	font-family: 'Encode Sans Condensed', sans-serif;
	color:#455D7A;
	padding-bottom:10px;
}

h3{
	font-family: 'Encode Sans Condensed', sans-serif;
	color:#455D7A;
}

.col-md-3{
	border: solid;
	border-radius:20px;
	padding-bottom:20px;
	padding-left:35px;
	border-color:#F99A9A#FCA1A1;
}

/*footer*/
.navbar-inverse, .footer{
	background-image:url("../images/footerpic.jpg");
	bottom:0;
	width:100%;
	border-top:0;
	position:absolute;
	padding:15px;
	text-align:center;



}


/*about me */
.media-object{
	margin-right:5px;
	border:2px solid #F99A9A;
	border-radius:20px;
}


/*projects*/
h4{
	color:#4D95AF;
	font-size:20px;
	font-family: 'Encode Sans Condensed', sans-serif;
}

.media{
	margin-bottom:30px;
	margin-top:40px;
}

/* navbar */
.navbar-default{
	background-image:url("../images/navbar.jpg");
}



/*name*/
.navbar-default .navbar-brand{
	color:#455D7A;
	font-family: 'Pacifico', cursive;
	font-size:30px;
}


/*links*/
.navbar-default .navbar-nav > li > a{
	color:#455D7A;
	font:bold;
}

.navbar-default .navbar-nav > li > a:hover{
	color:#FCA1A1;
}




